@{
	ViewData["Title"] = "Sobre o Sistema";
}
<h1 class="text-center my-4">Sistema do Site</h1>

<div class="row text-center">

	<div class="col-12 col-md-6 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<h5 class="card-title">Sobre os Esportes ⚽</h5>
				<p class="text-muted">Permitimos que você defina os esportes a serem realizados no seu interclasse de forma livre e sem restrições, facilitando a organização do evento.</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<h5 class="card-title">Sobre os Times 👕</h5>
				<p class="text-muted">Ao montar os times, permitimos que você registre um máximo de 25 jogadores para cada, que então ficam salvos em uma lista com o nome de cada jogador, sua identificação única (ID), posição no jogo e número da camisa.</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<h5 class="card-title">Registro de Jogadores 📖</h5>
				<p class="text-muted">Como mencionado anteriormente, para cada jogador pode ser atribuído um time, nome, posição (Se houver) e camiseta que usará. Sua identificação única será definida automáticamente pelo site.</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<h5 class="card-title">Campeonatos 🏆</h5>
				<p class="text-muted">O site ofereçe uma planilha onde os campeonatos podem ser salvos e organizados por nome, duração e equipes envolvidas.</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<h5 class="card-title">Calendário 📆</h5>
				<p class="text-muted">Juntamente da organização de campeonatos, você também pode decidir quando esses eventos acontecerâo, definindo sua data de forma pontual para facilitar a execução do evento.</p>
			</div>
		</div>
	</div>

	<div class="col-12 col-md-6 mb-4">
		<div class="card shadow-sm h-100">
			<div class="card-body">
				<h5 class="card-title">Pontuação 🥇</h5>
				<p class="text-muted">Após cada partida, você pode voltar a planilha do campeonato e atribuir pontos para a equipe vencedora, levando ela para a próxima etapa e dando continuidade à competição.</p>
			</div>
		</div>
	</div>
</div>